:root {
  --primary-color: #3498db;
  --secondary-color: #ffffff;
  --text-color: #fff;
  --accent-color: #ececec; /* Tomato accent for hover */
  --background-gradient: linear-gradient(90deg, #6a82fb, #fc5c7d);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fc;
  overflow-x: hidden;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  background: var(--background-gradient);
  border-bottom-left-radius: 50% 15%;
  border-bottom-right-radius: 50% 15%;
  overflow: hidden;
  z-index: 1;
}

.hero-content {
  flex: 1;
  max-width: 50%;
  z-index: 2;
  padding: 20px;
  animation: slideIn 1s ease-out;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.hi-text {
  font-size: 5rem;
  font-weight: 900;
  color: var(--primary-color);
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards, slideUp 1s ease-out forwards;
  animation-delay: 0.2s;
}

.name-text {
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards, slideUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.profession-text {
  font-size: 1.9rem;
  margin-top: 15px;
  font-weight: 900;
  color: var(--text-color);
  line-height: 1.5;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards, slideUp 1s ease-out forwards;
  animation-delay: 1s;
}

.location-text {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-top: 1.5rem;
  font-weight: 800;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards, slideUp 0.8s ease-out forwards;
  animation-delay: 1.3s;
}

.btn {
  display: inline-block;
  padding: 14px 30px;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1.6s;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.hero-image-frame {
  flex: 1;
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1.8s;
}

.hero-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 195, 255, 0.795);
  object-fit: cover;
  animation: zoomIn 1.5s ease-in-out;
  transition: transform 0.3s ease;
}

.hero-image:hover {
  transform: scale(1.05) rotate(4deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    filter: blur(5px);
  }
  100% {
    transform: scale(1);
    filter: blur(0);
  }
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    height: 100vh;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
    padding: 20px 10px;
  }

  .hero-image-frame {
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .btn {
    padding: 12px 25px;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
